KDE Plasma | KWin 
Wayland (x11 не работает)
Python 3.10+.

Виртуальное окружение с `pywayland` и `pycairo`, гайд на установку окружения будет в readme.md
Будет требовать примерно 400-700мб памяти; 24~ мб оперативы; CPU 3%~ при запуске и 0% при установке. 
